{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/comparison.css' %}" />

</head>
<body>
	<!-- your comparison interface here -->
  <div class = "hero container">
    <div class = "row">
      <div class = "col-xs-4">
          <button class="btn btn-info btn-primary" type="button">Home</button>
      </div>
      <h2>
        Here's your trip so far...
      </h2>
    </div>
    <div class = "kyoto row">
      <div class = "col-xs-4">
        <h3>
           1. Kyoto
        </h3>
      </div>
      <div class = "col-xs-4">
        <img class = "small-image" src="https://image-cdn.neatoshop.com/styleimg/57067/none/navy/default/346548-20;1489622333t.jpg">
      </div>
      <div class = "col-xs-4">
        <h3 class = "temp">
           84°
        </h3>
      </div>
    </div>
    <div class = "kansas-city row">
      <div class = "col-xs-4">
        <h3>
           2. Kansas City 
        </h3>
      </div>
      <div class = "col-xs-4">
        <img class = "alert" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-Qcq--OA5OqppErFjdL5LFZSxxZgNvS-gbnU6lh784_sT7PNb3Q">
      </div>
      <div class = "col-xs-4">
        <img class = "small-image-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ehNYfIhEr2Qh7Wqu5uuvNNchIvrmYUDEhX20Loc3yAO9j3_3UA">
      </div>
      <div class = "col-xs-4">
        <h3 class = "temp">
           71°
        </h3>
      </div>
    </div>
    <div class = "hangzhou row">
      <div class = "col-xs-4">
          <h3>
             3. Hangzhou
          </h3>
      </div>
      <div class = "col-xs-4">
        <img class = "small-image-3" src="https://cdn.dribbble.com/users/2339990/screenshots/4765107/cute_cloud.jpg">
      </div>
      <div class = "col-xs-4">
        <h3 class = "temp">
           52°
        </h3>
      </div>
    </div>
    <div class = "kathmandu row">
      <div class = "col-xs-4">
          <h3>
             4. Kathmandu
          </h3>
      </div>
      <div class = "col-xs-4">
        <img class = "small-image-4" src="https://image-cdn.neatoshop.com/styleimg/57067/none/navy/default/346548-20;1489622333t.jpg">
      </div>
      <div class = "col-xs-4">
        <h3 class = "temp">
          70°
        </h3>
      </div>
    </div>
    <div class = "row">
      <h3>
        °C/<strong>°F</strong>
      </h3>
    </div>
    <div class = "row">
      <h3 class = "cursive">
        Live life with no excuses
      </h3>
    </div>
    <div class = "row">
      <h3 class = "cursive">
        and travel with no regrets!
      </h3>
    </div>
  </div>
</body>
</html>
