{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/home.css' %}" />

</head>
<body>
	<!-- your comparison interface with home here -->
  <div class = "hero container">
    <div class = "row">
      <h2>
        Hello! Where would you 
      </h2>
    </div>
    <div class = "row">
      <h2>
        like to travel today?
      </h2>
    </div>
  </div>
</body>
</html>
